button {
    padding: 7px;
    border: 2px;
    background-color: navy;
    border-radius: 10px;
    margin-top: 14px;
    color: aliceblue;
}

.container {
    display: flex;
    margin-left: 450px;
}

.container table {
    border: 2px solid;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

.container tr,
th,
td {
    padding: 20px;
}

.container .table-2 {
    margin-left: 30px;
}

.table-1 #head {
    background-color: darkgray;
}